* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    left: 100px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    left: 0;
    background: linear-gradient(#9198e5 40%, white);
    width: 10%;
    height: 100%;
}
.itens-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:1.4em;
    align-items: center;
}
.itens{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    width: 115px;
    height: 60px;
    box-shadow: black 0.15em 0.15em 0.5em;
}
.itens1{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    width: 115px;
    height: 60px;
    top: 45%;
    box-shadow: black 0.15em 0.15em 0.5em;
}
.img-nav{
    height: 35px;
}
a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
a:hover{
    text-decoration: none;
    color: rgb(76, 76, 250);
    scale: 1.2;
}



/* Content */
.content {
    width: 85%;
    padding: 20px;
    align-items: center;
    left: 200px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    width: 150px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
}

section {
    margin-bottom: 40px;
}

.main-options {
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 10px;
}

.well-rated {
    background-color: #e6ffeb;
    padding: 20px;
    border-radius: 10px;
}

.discoveries {
    background-color: #ffe6e6;
    padding: 20px;
    border-radius: 10px;
}